body {
  color: #2a2a2a;
  font-family: "Poppins", sans-serif;
}

header h1 {
  font-size: 48px;
  font-weight: 600;
}

header h2 {
  font-size: 23px;
  font-weight: 500;
}

.container {
  min-height: 69%;
}

.greeting {
  font-size: 23px;
}

table {
  width: 100%;
  background-color: #e9e9e9;
}

thead th {
  font-size: 19px;
  font-weight: 300;
}

tbody tr {
  font-size: 11px;
  font-weight: 300;
}

tbody tr:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.right-border {
  border-right: 1px solid #ccc;
}
